<h2>Cart</h2>
<%= link_to 'Back', products_path %>
<div class="container">
  <ul>
    <% @orders.each do |order|%>
    <li>
      <%= order.product.title%>
      <%= order.product_amount %>
    </li>
    <% end %>
  </ul>
  <div>
    <%= link_to 'check to buy', new_cart_path %>
  </div>
</div>
