/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 1180px;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
  position: fixed;
  background-color: #F5DEB3;
  z-index: 10;
  box-shadow: 0 2px 10px #CCCEDA;
  h1 {
    float: left;
  }

  nav {
    float: right;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    #cart-link {
      float: left;
      a {
        padding: 10px 20px;
      }
    }

    #user-nav {
      float: right;
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .user-log {
        float: left;
        padding: 10px 20px;
      }
    }
  }
}

#content-view {
  position: absolute;
  top: 60px;
}